# Markdown titles are created by starting the line with a hash symbol.

The following title uses HTML which you can also include in your markdown.
<h3>This is Another Title</h3>
This image is loaded using HTML.<br />
<!-- This image exists in the Jupyter notebook root folder.
     On my Windows machine this happens to be at c:/users/username/
     You can also store the image there if you upload it at the
     Jupyter Notebook tree listing. -->

<img style="float: left;" src="https://commons.bcit.ca/news/files/2020/05/Island-Princess_1200px-300x150.jpg"  />

In [2]:
import pandas as pd
from IPython.display import Image
from IPython.display import display_html
from IPython.core.display import display, HTML
import matplotlib.pyplot as plt

def display_side_by_side(*args):
    html_str = ''
    for item in args:
        html_str+=item.to_html()
    display_html(html_str.replace('table','table style="display:inline;"'),raw=True)

# Create and show budget dataframe.
df = pd.DataFrame(columns=["Week", "Cost", "Revenue"])
df['Week']    = ['1','2','3','4']
df['Cost']    = [8,10,12,14]
df['Revenue'] = [6,12,14,16]
print(df)
#display_side_by_side(df,df)
html_str = df.to_html()
display_html(html_str.replace('table','table style="display:inline;"'),raw=True)

  Week  Cost  Revenue
0    1     8        6
1    2    10       12
2    3    12       14
3    4    14       16

,Week,Cost,Revenue
0,1,8,6
1,2,10,12
2,3,12,14
3,4,14,16